* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
        margin: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;    
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

.img-container {
    margin: 24px auto 0;
    max-width: 1128px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
    list-style: none;    
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease-in-out;
    transform-origin: center;
    
}

.gallery-item {
    width: 360px;
    height: 200px;
    overflow: visible;
    transition-property: transform;

}

.gallery-item:hover .gallery-image {
    transform: scale(1.05);
    z-index: 1;
}

.basicLightbox {
    background: rgba(0, 0, 0, 0.85);
    transition: opacity 0.6s ease;
}